<div class="container-fluid">
  <div class="row">
		<div class="col">
			<br>
			<div class="row justify-content-center align-self-center">
        
				<button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Crear un registro</button>
            </div>
            <br>
	<div class="row">
		<div class="col">
			<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Registros</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let r of registros">
						<td style="cursor: pointer;" (click)="onSelected(r.CompraID)">
							<a class="figure-caption" >{{r.CompraID}}</a>
						</td>

            <td >
        <button class="btn btn-primary" (click)="showHideEdit(r.CompraID)"><span class="fa fa-pencil"></span></button>
        </td>

					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="border row">
		<div class="col">
      <div *ngIf="showCreate">
          <app-registros-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-registros-create>
        </div>
			<div *ngIf="selectedRegistro">
				<app-registros-detail [registroDetail]="selectedRegistro"> </app-registros-detail>
			</div>
      <div *ngIf="showEdit">
                <app-registros-edit [registro]="selectedRegistro" (cancel)="showHideEdit(selectedRegistro.CompraID)" (update)="updateRegistro()" ></app-registros-edit>
            </div>
    	</div>
		</div>
	</div>
</div>



