/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 30, 2019, 7:16:19 PM
    Author     : Andrea
*/

.spacer {
    background-color: white;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 30px;
    margin-left: 30px;
}
