<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
                <br>
                <div class="row justify-content-center align-self-center">
                    <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                        (click)="showHideCreate()">Crear una Compra</button>
                </div>
                <br>
                <br>
                <div class="card">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let q of compraVentas">
                        <td style="cursor: pointer;"> 
                            <a class="figure-caption" (click)="onSelected(q.ventaID)">Venta {{q.ventaID}}</a>
                        </td>
                        <td >
                            <button class="btn btn-primary" (click)="showHideEdit(q.ventaID)"><span class="fa fa-pencil"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        <div class="col-md-8">
                <div *ngIf="showCreate">
                    <app-compraVenta-create (cancel)="showHideCreate()" (create)="ngOnInit()" *ngIf="showCreate"></app-compraVenta-create>
                </div>
            </div>
    </div>
    <div class="border row">
        <div class="col">
            <div *ngIf="selectedCompraVenta">
                <app-compraVenta-detail [compraVentaDetail]="selectedCompraVenta"> </app-compraVenta-detail>
            </div>
        </div>
    </div>
</div>
