
<!--
<div class="col-md-12">
	<div class="continer-fluid">
		<p class="h3 p-3">
			<ul>
			<li>Numero Puertas: {{i.numeroPuertas}}</li>
			<li>Trasmision : {{i.trasmision}}</li>
				   <li>Cilindraje : {{i.cilindraje}}</li>
				   <li>Combustible : {{i.combustible}}</li>
				   <li>Traccion : {{i.traccion}}</li>
				   <li>Direccion : {{i.direccion}}</li>
				   <li>Frenos ABS : {{i.frenosABS}}</li>
				   <li>AirBag : {{i.airBag}}</li>
				   <li>Aire Acondicionado : {{i.aireAc}}</li>
				   <li>Asientos : {{i.asientos}}</li>
				   <li>Vidrios : {{i.vidrios}}</li>

				   
			 </ul>
		</p>
	</div>
</div>

-->