<br>
<br>
<div class="row justify-content-center align-self-center" *ngxPermissionsOnly="['ADMIN']">
<button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Agregar una marca</button>
</div>
<br>
<br>
<div class="container">
    <div *ngIf="showCreate">
        <app-marca-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-marca-create>
    </div>
</div>    
        <br>
        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                
                <div class="carousel-inner" >
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="../assets/Images/AUDI.jpg" alt="First slide" >
                        <div class="carousel-caption d-none d-md-block">
                            <h1>Audi</h1>
                            <p>Varsprung durch Technik</p>
                        </div>
                    </div>
                    <div class="carousel-item" *ngFor="let i of marcas" >
                            <a routerLink="/marca/{{i.idMarca}}">
                           
                        <img class="d-block w-100" src="{{i.imagen}}" alt="Second slide" ></a>
                        <div class="carousel-caption d-none d-md-block">
                            <h1>{{i.nombreMarca}}</h1>
                            <p>{{i.descripcion}}</p>
                             
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
            </div> 
    <div class="col-12">
            <div *ngIf="slectedMarca">
                    <app-marca-detail [marcaDetail]="slectedMarca"></app-marca-detail>
                </div>
              

