
<br>
<br>
<button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Agregar una marca</button>
<br>
<br>
<div class="container">
    <div *ngIf="showCreate">
        <app-marca-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-marca-create>
        </div>
        <div class="row text-center text-lg-left">
                <div class="col-lg-3 col-md-6 mb-4" *ngFor="let i of marcas">
         
                    <div class="card h-100">   
                        <a routerLink="/marcas/{{i.id}}">
                            <img class="card-img-top" src="{{i.imagen}}" alt="">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">{{i.nombreMarca}}</h4>
                            <p class="card-text">{{i.descripcion}}</p>
                        </div>
                        <div class="card-footer">
                            
                            <a class="btn btn-danger btn-block"  (click) ="onSelected(i.id)">Modelos</a>
                        </div>
                    </div>
        
         
                </div>
            </div>
    <div class="col-8">
            <div *ngIf="slectedMarca">
                    <app-marca-detail [marcaDetail]="slectedMarca"></app-marca-detail>
                </div>
               
    <div></div>


