<div class="container">
  <div class="row">
   <div class="col">
      <br>
      <br>
      <div class="row justify-content-center align-self-center">
        <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn" (click)="showHideCreate()">Crea un cliente</button>
      </div>
      <br>  
      <div class="card">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Correo</th>
              <th>Teléfono</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let c of clientes">
               <td style="cursor: pointer;">
                <dd class="figure-caption" routerLink="/clientes/{{c.clienteID}}">{{c.clienteID}}</dd>
              </td>
              <td>{{c.nombre}}</td>
              <td>{{c.correo}}</td>
              <td>{{c.telefono}}</td>
              <td>
                  <button class="btn btn-primary" (click)="showHideEdit(c.clienteID)"><span class="fa fa-pencil"></span></button>
              </td>
            </tr>  
          </tbody>    
        </table>
      </div>
      <div class="col-8">
        <div *ngIf="showCreate">
            <app-cliente-create (cancel)="showHideCreate()" (create)="ngOnInit()"> </app-cliente-create>
        </div>
        <div *ngIf="showEdit">
            <app-cliente-edit [cliente]="selectedCliente" (cancel)="showHideEdit(selectedCliente.clienteID)" (update)="updateCliente()" ></app-cliente-edit>
        </div>
      </div>
    </div>
  </div>
</div>