<div class="container">
  <div class="row">
   <div class="col">
      <br>
      <br>
      <div class="row justify-content-center align-self-center">
        <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn" (click)="showHideCreate()">Crea un empleado</button>
      </div>
      <br>  
      <div class="card">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Correo</th>
              <th>Teléfono</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let c of clientes">
               <td style="cursor: pointer;">
                <dd class="figure-caption" routerLink="/clientes/{{c.clienteID}}">{{c.clienteID}}</dd>
              </td>
              <td>{{c.nombre}}</td>
              <td>{{c.correo}}</td>
              <td>{{c.telefono}}</td>
            </tr>  
          </tbody>    
        </table>
      </div>
      <!--<div class="col-8">
        <div *ngIf="showCreate">
            <app-empleado-create (cancel)="showHideCreate()" (create)="ngOnInit()"> </app-empleado-create>
        </div>
      </div>-->  
    </div>
  </div>
</div>