<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Crear una compraVenta</h2>
        <br>
        <form name="compraVenta" (ngSubmit)="f.form.valid && createCompraVenta()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="compraVentaCalificacion">
                  <b>Calificación de la compraVenta</b>
                </label>
                <input type="text" name="compraVentaCalificacion" class="form-control" id="compraVentaCalificacion" [(ngModel)]="compraVenta.calificacion"
                    #compraVentaCalificacion="ngModel" [ngClass]="{ 'is-invalid': f.submitted && compraVentaCalificacion.invalid }" required>
                <div class="invalid-feedback">
                    <div>La calificación de la compraVenta falta.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="compraVentaFecha">
                  <b>Fecha de la compraVenta</b>
                </label>
                <input type="text" name="compraVentaFecha" class="form-control" id="compraVentaFecha" [(ngModel)]="compraVenta.fecha"
                    #compraVentaFecha="ngModel" [ngClass]="{ 'is-invalid': f.submitted && compraVentaFecha.invalid }" required>
                <div class="invalid-feedback">
                    <div>La fecha de la compraVenta falta.</div>
                </div>
            </div>
            <br>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Pago realizado</label>
            </div>
            <br>
            <div class="form-group">
                    <label for="pvCompraVenta"><b>Punto de Venta</b></label>
                    <input type="number" name="pvCompraVenta" class="form-control" id="pvCompraVenta" [(ngModel)]="compraVenta.puntoVenta" #pvCompraVenta="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pvCompraVenta.invalid }" required>
                    <div class="invalid-feedback"> 
                      <div>Debe asignar un punto de venta a la compraVenta</div>
                    </div>
                  </div>
            <br>
            <div class="collapse" id="ComprasList">
                    <div class="card card-body">
                            <p class="h3 p-3">Compras del punto de venta : </p>
                            <app-compraVenta-list [compraVentas]="puntoVentaDetail.CompraVenta"></app-compraVenta-list>
                     </div>
            </div>
            <div class="form-group">
                    <label for="empCompraVenta"><b>Empleado</b></label>
                    <input type="number" name="empCompraVenta" class="form-control" id="empCompraVenta" [(ngModel)]="compraVenta.empleado" #empCompraVenta="ngModel" [ngClass]="{ 'is-invalid': f.submitted && empCompraVenta.invalid }" required>
                    <div class="invalid-feedback"> 
                      <div>Debe asignar un empleado a la compraVenta</div>
                    </div>
                  </div>
            <br>
            <div class="form-group">
                    <label for="clntCompraVenta"><b>Cliente</b></label>
                    <input type="number" name="clntCompraVenta" class="form-control" id="clntCompraVenta" [(ngModel)]="compraVenta.cliente" #clntCompraVenta="ngModel" [ngClass]="{ 'is-invalid': f.submitted && clntCompraVenta.invalid }" required>
                    <div class="invalid-feedback"> 
                      <div>Debe asignar un cliente a la compraVenta</div>
                    </div>
                  </div>
            <br>
            <div class="form-group">
                    <label for="autCompraVenta"><b>Automovil</b></label>
                    <input type="number" name="autCompraVenta" class="form-control" id="autCompraVenta" [(ngModel)]="compraVenta.automovil" #autCompraVenta="ngModel" [ngClass]="{ 'is-invalid': f.submitted && autCompraVenta.invalid }" required>
                    <div class="invalid-feedback"> 
                      <div>Debe asignar un automovil a la compraVenta</div>
                    </div>
                  </div>
            <br>
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Crear</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancelar</button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>