<div class="col-md-12">
    <div class="container-fluid"> 
        <p class="h4 p-3"> CompraVenta número {{compraVentaDetail.ventaID}}</p>
        <div class="row border margin">
          <table class="table">
            <tr>Calificación: {{compraVentaDetail.calificacionCompra}}</tr>
            <tr>Fecha Compra: {{compraVentaDetail.fecha}} </tr>
            <tr>Pagado: {{compraVentaDetail.pagado}} </tr>
            <tr>Factura ID: {{compraVentaDetail.factura.facturaID}}</tr>
            <tr>Automovil ID: {{compraVentaDetail.Automovil.autoID}}</tr>
            <tr>Empleado ID: {{compraVentaDetail.Empleado.empleadoID}}</tr>
            <tr>Cliente ID: {{compraVentaDetail.Cliente}}</tr>
            <tr>Punto de venta ID: {{compraVentaDetail.puntoVenta.id}}</tr>
          </table>
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <a class="btn btn-danger" data-toggle="collapse" href="#QuejasList" role="button" aria-expanded="false" aria-controls="QuejasList">
                  Quejas
                </a>    
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <a class="btn btn-danger" data-toggle="collapse" href="#ClienteDetail" role="button" aria-expanded="false" aria-controls="ClienteDetail">
                  Cliente
                </a>    
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <a class="btn btn-danger" data-toggle="collapse" href="#EmpleadoDetail" role="button" aria-expanded="false" aria-controls="EmpleadoDetail">
                  Empleado
                </a>    
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <a class="btn btn-danger" data-toggle="collapse" href="#AutomovilDetail" role="button" aria-expanded="false" aria-controls="AutomovilDetail">
                  Automovil
                </a>    
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <a class="btn btn-danger" data-toggle="collapse" href="#FacturaDetail" role="button" aria-expanded="false" aria-controls="FacturaDetail">
                  Factura
                </a>    
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <a class="btn btn-danger" data-toggle="collapse" href="#PuntoVentaDetail" role="button" aria-expanded="false" aria-controls="PuntoVentaDetail">
                  Punto de venta
                </a>    
        </div>
        <div class="collapse" id="QuejasList">
            <div class="card card-body">
                <p class="h3 p-3">Quejas de la compraVenta: </p>
                <app-quejas-list [quejas]="compraVentaDetail.quejas"></app-quejas-list>
            </div>
        </div>
    </div>
</div>