p {
  font-family: gloss and bloom, sans-serif;
  font-size: 10pt;
  color:  #000000;
  
  
}

.navbar navbar-expand-lg navbar-light
{
    size: 100%;
}
#barra
{
    size: 30%;
}

#rolusuario
{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
