<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <div class="form-inline">
                <h2 class="mainTitle">s3_Carros-Front</h2>
            </div>
        </a>
    </nav>
<p>
  Puntos de venta de la GoodFellas
</p>
<ul class ="nav">
<li class="nav-item" >
  <a class= "nav-link active" routerLink="punto-venta/list" routerLinkActive ="active">Punto Venta </a>
</li>
</ul>
<div class="continer-fluid">
  <div class="border m-5 row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-punto-venta-create></app-punto-venta-create>
    
</div>



