<diV id="fondo">
<div class="continer-fluid" >
  <div class="row">
        <div id="botones">
            <img class="card-img-top" src="{{marcaDetail.logo}}" id="icon" >
            <div class="btn-group-vertical boton" role="group" aria-label="Basic example" id="">
                <button type="button" class="btn btn-outline-secondary boton" id="model">
                          
                    <a>
                        MODELOS
                    </a>
                    
                </button>
                <button type="button" class="btn btn-outline-secondary boton" id="carros">
                    <a>
                        
                  CARROS
                    </a>
                    <br>
                </button>
                <button type="button" class="btn btn-outline-secondary boton" id="promo">
                        <img class="card-img-top" src="" id="icon" >
                       
                    <a>
                    PROMO
                    </a>
                    <br>
                </button>
                <button type="button" class="btn btn-outline-secondary boton" id="punto-venta">
                        <img class="card-img-top" src="" id="icon">
                    <a>
                    PUNTO-VENTA
                    </a>
                    <br>
                </button>
              </div>
        </div>
            <div class="col-10" >
                <app-modelo-list [modelos]="marcaDetail.modelos" [marcaId] = "marca_id"></app-modelo-list>
            </div>
    </div>   
</div>
</diV>  



    