<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Crear una queja</h2>
        <br>
        <form name="queja" (ngSubmit)="f.form.valid && createQueja()" #f="ngForm" novalidate>
            
            <div class="form-group">
                <label for="tipoQueja"><b>Tipo de queja</b></label>
                <select name="tipoQueja" class="form-control" id="tipoQueja" [(ngModel)]="queja.tipoQueja"
                    #tipoQueja="ngModel" [ngClass]="{ 'is-invalid': f.submitted && tipoQueja.invalid }" required convert-to-number>
                    <option value="0">Estado automovil</option>
                    <option value="1">Problema pago</option>
                    <option value="2">Demora entrega</option>
                    <option value="3">Mala atención</option>
                    <option value="4">Reembolso</option>
                    <option value="5">Otro</option>
            </select>
                <div class="invalid-feedback">
                    <div></div>
                </div>
            </div>
            <div class="form-group">
                <label for="comentarios"><b>Comentarios</b></label>
                <input type="text" name=comentarios class="form-control" id="comentarios" [(ngModel)]="queja.comentarios"
                    #comentarios="ngModel" [ngClass]="{ 'is-invalid': f.submitted && comentarios.invalid }">
                <div class="invalid-feedback">
                    <div></div>
                </div>
            </div>
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Create</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>
