<div class="container-fluid">
	<div class="row">
		<div class="col">
			<br>
			<div class="row justify-content-center align-self-center"  *ngxPermissionsOnly="['ADMIN']">
        
				<button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Crear un punto de venta</button>
            </div>
            <br>
		<table class="table table-hover">
			<thead class="thead-dark">
        
				<tr>
					<th scope="col"> Encuentranos en nuestros puntos de venta</th>
					<th scope="col"  *ngxPermissionsOnly="['ADMIN']">Edit</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let i of puntosVenta" (click) ="onSelected(i.id)">
					<td style="cursor: pointer;"> 
            <dd id="nombre">{{i.nombre}}</dd>
					</td>
        <td  *ngxPermissionsOnly="['ADMIN']" >
        <button class="btn btn-primary" (click)="showHideEdit(i.id)"><span class="fa fa-pencil"></span></button>
        </td>
				</tr>
			</tbody>
		</table>

		</div>
    	<div class="col-8">
					<div *ngIf="showEdit">
							<app-punto-venta-edit [puntoVenta]="selectedPuntoVenta" (cancel)="showHideEdit(selectedPuntoVenta.id)" (update)="updatePuntoVenta()" ></app-punto-venta-edit>
					</div>
         <div *ngIf="selectedPuntoVenta">
                <app-punto-venta-detail [puntoVentaDetail]="selectedPuntoVenta"></app-punto-venta-detail>
            </div>
        <div *ngIf="showCreate">
          <app-punto-venta-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-punto-venta-create>
        </div>
			</div>
			<div class="col-9">
				<h1>Ubicación
					
				</h1>
				<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d127259.1137311218!2d-74.10744594784853!3d4.621317432088477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sCasa+toro!5e0!3m2!1ses!2sco!4v1557189009089!5m2!1ses!2sco" width="1050" height="900" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
       
  </div>

</div>